* {
  box-sizing: border-box;
}

:root {
  --color-primary: #f85e00;
  --color-secondary: #f6f5f4;
}

body {
  margin: 0;
  background-color: var(--color-secondary);
}

main {
  font-family: "Recursive", sans-serif;
  margin: 0;
  border: 5px dashed #ff8d0a;
  padding-bottom: 1.5em;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.photo img {
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  margin: 0.5em 0;
}

#intro {
  display: block;
  font-weight: inherit;
}

#name {
  font-style: italic;
  font-weight: 900;
}

p,
li {
  line-height: 1.5em;
}

#role {
  font-weight: 800;
}

.UI {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 1px;
  font-style: italic;
  transition-property: all;
}

.UI:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  cursor: pointer;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

.header {
  background-color: var(--color-primary);
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.header h1 {
  margin: 0;
  padding: 5px;
  color: var(--color-secondary);
}

.job-title {
  margin: 0.5em 0 0;
  font-weight: 800;
}

.company {
  margin: 0;
}

ul {
  padding-left: 30px;
}

li {
  margin: 0.5em 0;
}

li::marker {
  color: #f85e00;
}

.skills {
  padding: 0.5em;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skill img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.skill h2 {
  font-weight: 600;
  font-style: italic;
  margin: 0.5em 0;
}

.projects {
  display: flex;
  overflow-x: scroll;
}

.project {
  min-width: 93%;
  margin-right: 5%;
}

.stack {
  font-style: italic;
  min-height: 3em;
  margin-bottom: 0;
}

.project-bio {
  padding-right: 10px;
  min-height: 7.5em;
}

.project-icons-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5px 0;
}

.project-icons-container > img {
  cursor: pointer;
}

.project-icons {
  width: 40px;
  height: 40px;
}

.project-icons2 {
  width: 60px;
  height: 60px;
}

.contact {
  margin-top: 0.5em;
}

form {
  padding: 1em 0;
}

label {
  display: block;
  width: 100%;
  font-size: inherit;
}

input,
textarea {
  display: block;
  width: 98%;
  margin: 0.5em 0;
  border-radius: 5px;
  padding: 1em;
  border: 1px solid black;
  font-size: inherit;
}

input:focus,
textarea:focus {
  border-color: #f85e00;
  outline: 0;
}

button {
  display: block;
  margin: 2em auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5em 3em;
  outline: 0;
  background-color: #f85e00;
  font-size: inherit;
  font-family: "Recursive", sans-serif;
}

button:hover {
  background-color: white;
  color: #f85e00;
  border-color: #f85e00;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  main {
    font-size: 26px;
  }
}

@media only screen and (min-width: 1024px) {
  main {
    padding: 0 2em;
  }

  .main-top {
    font-size: 28px;
    display: flex;
  }

  .main-top-right {
    position: relative;
    margin-left: 1em !important;
  }

  .main-top-right p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .main-bottom {
    font-size: 20px !important;
  }

  article {
    margin-top: 1em;
  }

  .content {
    width: 100%;
    margin: 0;
  }

  .experience-skills {
    display: flex;
  }

  .skills-container {
    margin-left: 1em;
  }

  .experience-content,
  .skills {
    padding: 0.5em 2em;
  }

  .experience-skills article {
    width: 50%;
  }

  .projects {
    display: flex;
    overflow-x: hidden;
  }

  .project {
    min-width: 43%;
    margin-right: 5%;
    text-align: center;
    padding: 0 4em;
  }

  form {
    padding: 2em 7em;
  }
}
