* {
  box-sizing: border-box;
}

:root {
  --color-primary: #f85e00;
  --color-secondary: #f6f5f4;
}

html {
  border: 5px dashed #ff8d0a;
  padding-bottom: 5em;
}

body {
  font-family: "Recursive", sans-serif;
  background-color: var(--color-secondary);
  margin: 0;
}

section {
  width: 90%;
  margin: 0 auto;
}

.photo img {
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  margin: 0.5em 0;
}

#intro {
  display: block;
  font-weight: inherit;
}

#name {
  font-style: italic;
  font-weight: 900;
}

p,
li {
  line-height: 1.5em;
}

#role {
  font-weight: 800;
}

.UI {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 1px;
  font-style: italic;
  transition-property: all;
}

.UI:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  cursor: pointer;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

.header {
  background-color: var(--color-primary);
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.header h1 {
  margin: 0;
  padding: 5px;
  color: var(--color-secondary);
}

.job-title {
  margin: 0.5em 0 0;
  font-weight: 800;
}

.company {
  margin: 0;
}

ul {
  padding-left: 30px;
}

li {
  margin: 0.5em 0;
}

li::marker {
  color: #f85e00;
}

.skills {
  padding: 0.5em;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skill img {
  width: 50px;
  height: 40px;
  border-radius: 50%;
}

.skill h2 {
  font-weight: 600;
  font-style: italic;
  margin: 0.5em 0;
}
